/* ==========================================================================
    Variables
    by: @bdjunayed
   ========================================================================== */

/*
sm 0 - 540
md 541 - 768
lg 769 - 992
*/


/*  ------------------------------------------
    Breakpoints
    ------------------------------------------  */
$xs: 320px;
$sm: 540px;
$md: 768px;
$lg: 1024px;
$tw: 1200px;
$xl: 1920px;

//$md: (
//        'min-width': 541px,
//        'columns': susy-repeat(8),
//        'gutters': 0.25,
//);
//
//$lg: (
//        'min-width': 769px,
//        'columns': susy-repeat(12),
//        'gutters': 0.25,
//);


