/node_modules
# /public/hot
# /public/storage
public/*
!/public/.htaccess
!/public/crossdomain.xml
!/public/favicon.ico
!/public/humans.txt
!/public/index.php
!/public/robots.txt
!/public/admin-assets

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
