// Bootstrap settings
@import "bootstrap_custom";
//@import "~bootstrap/scss/bootstrap";


@import '~owl.carousel/src/scss/owl.carousel';
@import '~owl.carousel/src/scss/owl.theme.default';

.footer-part{float:left;width:100%;background:#20202f;position:relative;padding:20px 0 40px 0;color:#f6f0f2;border-bottom:8px solid #e4b95b;font-size:15px;}

.footer-part
{
    background: #fff;
    //border-top: 1px solid #898989;
}
