.input-tw, .input-six {
    overflow: hidden;
}
.submit-pages {
    padding: 0 30px 40px 30px;
  @media only screen and (min-width: $md){
    padding: 0 30px 60px 30px;
  }
    
}
.input-six-block {
    @include span(6);
    &:last-child{
        margin-right: 0;
      }
}
.input-six-offset {
    @include span(12);
    @media only screen and (min-width: $md){
        @include span(6);
        margin-right: span(6);
    }
}

.submit-block-padd {
    h2 {
        padding-top: 130px;
    }  
}
select {
    width: 100%;
    height: 45px;
}